  <%= render partial: 'admins_backoffice/users/shared/form',
             locals: { action_message: t('message.editing', model: @user.model_name.human) } %>

  <% if action_name == 'edit' %>
    <p> <strong>ID:</strong> <%= @user.id %> -- <strong>E-mail:</strong> <%= @user.email %> </p>
    <p> <strong>Criado em:</strong> <%= @user.created_at.strftime("%d/%m/%Y às %H:%M:%S") %>  <strong>/ Atualizado em:<strong> <%= @user.updated_at.strftime("%d/%m/%Y às %H:%M:%S") %> </p>
    <p> <strong>Nome:</strong> <%= @user.first_name %> / <strong>Sobrenome:</strong> <%= @user.last_name %> </p>
    <p> <strong>Total de questões:</strong> <%= @user.user_statistic.right_questions + @user.user_statistic.wrong_questions %> </p>
    <p> <strong>Questões corretas:</strong> <%= @user.user_statistic.right_questions %> </p>
    <p> <strong>Questões erradas:</strong> <%= @user.user_statistic.wrong_questions %> </p>
  <% end %>
