  <%= render partial: 'admins_backoffice/users/shared/form',
             locals: { action_message: t('message.editing', model: @user.model_name.human) } %>

  <% if action_name == 'edit' %>
    <p> ID: <%= @user.id %> </p>
    <p> E-mail: <%= @user.email %> </p>
    <p> Criado em: <%= @user.created_at.strftime("%d/%m/%Y às %H:%M:%S") %> </p>
    <p> Atualizado em: <%= @user.updated_at.strftime("%d/%m/%Y às %H:%M:%S") %> </p>
  <% end %>
