  <%= render partial: 'admins_backoffice/admins/shared/form',
           locals: { admin: @admin,
                     action_message: 'Editando' } %>

  <% if action_name == 'edit' %>
    <p> ID: <%= @admin.id %> </p>
    <p> E-mail: <%= @admin.email %> </p>
    <p> Criado em: <%= @admin.created_at.strftime("%d/%m/%Y às %H:%M:%S") %> </p>
    <p> Atualizado em: <%= @admin.updated_at.strftime("%d/%m/%Y às %H:%M:%S") %> </p>
  <% end %>
